Repository antlr/intellij-plugin-v4, pull requests merged in 2022-04, with the labels that each got.

#524 update to 4.10 ANTLR, update grammar
  .github/workflows/gradle.yml
  README.md
  build.gradle
  gradle.properties
  src/main/antlr/org/antlr/intellij/plugin/parser/ANTLRv4Parser.g4
  src/main/java/org/antlr/intellij/plugin/ANTLRv4ExternalAnnotator.java
  src/main/java/org/antlr/intellij/plugin/parsing/PreviewParser.java
  src/main/java/org/antlr/intellij/plugin/parsing/RunANTLROnGrammarFile.java
  src/main/java/org/antlr/intellij/plugin/validation/GrammarIssuesCollector.java
  src/main/resources/META-INF/plugin.xml
Labels: comp:grammar-editor, build, cleanup

#542 Use linux dco instead of our own contributors.txt
  .github/PULL_REQUEST_TEMPLATE.md
  developer-cert-of-origin.txt
  historical-contributors-agreement.txt
Labels: cleanup

#541 remove deprecation warning in plug-in.xml related to fileType
  gradle.properties
  src/main/resources/META-INF/plugin.xml
Labels: cleanup

#543 Fixes #539. "null" appeared in tree for literals
  src/main/java/org/antlr/intellij/plugin/preview/AltLabelTextProvider.java
Labels: comp:preview, cleanup

#513 Implement in-place rename
  src/main/java/org/antlr/intellij/plugin/refactor/ANTLRv4RefactoringSupport.java
  src/main/resources/META-INF/plugin.xml
Labels: enhancement, refactoring
